body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 24px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    text-align: center;
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #575757;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    height: 100%;
    overflow: auto;
}
